{% extends 'base.html' %}

{% block title %}
Lista de Notas Fiscais
{% endblock %}

{% block content %}
    <div class="px-4 py-5 my-5">
        <h1>Notas Fiscais</h1>
        {% if nfs %}
        <ul class="list-group">
            {% for nf in nfs %}
            <li class="list-group-item"><a href="{% url 'nota_fiscal' nf.id %}">{{ nf }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="px-4 py-5 my-5">
        <a href="{% url 'index' %}" class="btn btn-primary">Voltar</a>
    </div>
{% endblock %}
