:root{
    --primary-color: #0b9ad7;
    --secondary-color: #1d7a9f;
    --tertiary-color: #f5b111;
    --white-color: #deecef;
    --dark-grey-color: #283238;
    --light-grey-color: #3C4B56;
    --black-color: #13181B;
    

}



