{% extends 'base.html' %}
{% block content %}

<form class="" action="/files/" enctype="multipart/form-data" method="post"
    style="margin-top: 50px; margin-bottom: 20px;">
    <div class="custom-file">
        <input input name="files" type="file" multiple class="custom-file-input" id="file" multiple
            onchange="javascript:updateList()">
        <label class="custom-file-label" for="customFile">Selecionar Aquivos</label>
    </div>

    <div class="mx-auto end-0">
        <div id="fileList" style="margin-top: 15px; margin-bottom: 15px;"></div>
        <input type="submit" class="btn btn-secondary" value="Enviar">
    </div>

</form>

<div class="card-group" style="max-width: 1000px;">
    {% for nfe in data %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Nota Fiscal</h5>
            <h6 class="card-subtitle mb-2 text-muted">Vencimento: {{nfe.date_venc}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Valor: {{nfe.total}}</h6>

        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <p>Nome fornecedor: <br> {{nfe.provider.name}}</p>
                {% if nfe.provider.cnpj %}
                Documento fornecedor: {{nfe.provider.cnpj}}
                {% else %}
                Documento fornecedor: {{nfe.provider.cpf}}
                {% endif %}
            </li>

            <li class="list-group-item">
                <p> Nome cliente: <br> {{nfe.client.name}}</p>
                {% if nfe.client.cnpj %}
                Documento do Cliente: {{nfe.client.cnpj}}
                {% else %}
                Documento Cliente: {{nfe.client.cpf}}
                {% endif %}
            </li>

            <li class="list-group-item">
                <p>
                    Endereço do Cliente: <br>
                    Logradouro: {{nfe.client.address.logradouro}} <br>
                    Municipio: {{nfe.client.address.municipio}}<br>
                    Estado: {{nfe.client.address.uf}}
                </p>
            </li>
        </ul>
        <div class="card-body">
            <a href="/api/xml/{{nfe.nfe_id}}" class="card-link"
                style="display: flex; justify-content: space-between; padding: 0 15px; align-items: center;">
                <p style="margin-top: 10px;">
                    Todas as informações:
                </p>
                <i class="fa-solid fa-up-right-from-square"></i>
            </a>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}